.cellhead {
	font-style: italic;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	padding-left: 15px;
	text-transform: uppercase;
}

.tableData {
	padding-left: 15px;
	padding-right: 15px;
}

input {
	border-top: 1;
	border-bottom: 1;
	border-left: 1;
	border-right: 1;
	border-color: brown;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
    background-color: #eeffee;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	color: brown;
	font-weight: bold;
	font-size: 15px;
	font-family: Tahoma;
}

select {
	border-top: 1;
	border-bottom: 1;
	border-left: 1;
	border-right: 1;
	border-color: brown;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eeffee;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	color: brown;
	font-weight: bold;
	font-size: 15px;
	font-family: Tahoma;
	width: 200px;
	height: 20px;
	width: 300px;
}

textarea {
	border-top: 1;
	border-bottom: 1;
	border-left: 1;
	border-right: 1;
	border-color: brown;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eeffee;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	color: brown;
	font-weight: bold;
	font-size: 15px;
	font-family: Tahoma;
	width: 300px;
}

.boldText {
	font-weight: bold;
}

.italicText {
	font-decoration: italic;
}

body {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Trebuchet MS;
	font-weight: bold;
}

.tbox {
	background-color: RGB(240, 240, 240); /* grey color*/
	border-color: brown;
	border-style: solid;
	border: 1pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	font-family: Trebuchet MS;
	height: 15px;
}

.blankBox {
	background-color: none;
	border: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 15px;
	font-family: Trebuchet MS;
	font-weight: bold;
	height: 15px;
}

.cbox {
	background-color: RGB(240, 240, 240);
	border: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	font-family: Trebuchet MS;
	height: 25px;
}

.loginBox {
	width: 400px;
	border: 0px;
	font-family: Trebuchet MS;
	color: brown;
	font-weight: bold;
	margin-right: 25px;
}

.topicHead {
	width: 950px;
	background-color: #eeffee;
	border: 0px;
	font-family: sans-serif;
	text-transform: uppercase;
	margin-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 15px;
	font-size: 17;
	color: brown;
	font-weight: bold;
	position: relative;
}

hr {
	color:brown;
}

a {
	color:brown;
}

a:HOVER {
	color: RGB(10, 200, 20);
}

h1 {
	color: brown;
}

h2 {
	color:brown;
}

h3 {
	color:brown;
}


.radioBtn {
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-color: transparent;
	background-color: transparent;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	color: transparent;
	font-weight: normal;
	font-size: 15px;
	font-family: Tahoma;
	size: 15px;
}

.errorMessage {
	text-align: right;
	color: brown;
	font-style: italic;
	font-family: Courier New;
}

.tdLabel {
	text-align: right;
	font-color: brown;
}

.footer {
	background-color: brown;
	font-size: 11px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.header {
	background-color:brown;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.copy {
	font-size: 14px;
	font-weight: bold;
}

th {
	background-color: brown;
	color: #eeffee;
}

.left {
	font-weight: bold;
	text-align: right;
}

.left {
	font-weight: bold;
}

.right {
	font-weight: bold;
	color: brown;
}